<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="header">
        <ul class="menu-wrapper">
            <li>Parks & Tickets</li>
            <li>Places to Stay</li>
            <li>Things to Do</li>
            <li>Help</li>
            <li>Cart</li>
        </ul>
    </div>
    <div class="main-content">
        <div class="main-header">
            <h1>Disney's Animal Kingdom Theme Park</h1>
        </div>
        <div class="header-image">
            <img src="/static/images/tree.jpg" alt="Tree Image">
        </div>
        <div class="left-content-bar">
            <p class="left-bar-header">
                Encounter the magic of nature with rare creatures, authentic adventures and world-class entertainment at Disney’s Animal Kingdom park, one of the largest animal theme parks in the world. Read More
            </p>
            <div class="left-block-items">
                <div class="left-block-item">
                    <div class="hero-image">
                        <img src="/static/images/lion.jpg" alt="">
                    </div>
                    <div class="hero-text-wrapper">
                        <p class="block-header">
                            Nighttime Experiences
                        </p>
                        <p class="block-text">
                            For the very first time, Disney’s Animal Kingdom park is alive with magic nightly with new attractions, dining and entertainment.
                        </p>
                    </div>
                </div>
                <div class="left-block-item">
                    <div class="hero-image">
                        <img src="/static/images/lion.jpg" alt="">
                    </div>
                    <div class="hero-text-wrapper">
                        <p class="block-header">
                            Attractions
                        </p>
                        <p class="block-text">
                            Discover high-speed thrills, fascinating jungle trails and up-close encounters with exotic animals.
                        </p>
                    </div>
                </div>
                <div class="left-block-item">
                    <div class="hero-image">
                        <img src="/static/images/lion.jpg" alt="">
                    </div>
                    <div class="hero-text-wrapper">
                        <p class="block-header">
                            Entertainment
                        </p>
                        <p class="block-text">
                            Delight in Broadway-style musicals, a fun-filled show with 20 species of birds, and Disney Character Meet and Greets...
                        </p>
                    </div>
                </div>
                <div class="left-block-item">
                    <div class="hero-image">
                        <img src="/static/images/lion.jpg" alt="">
                    </div>
                    <div class="hero-text-wrapper">
                        <p class="block-header">
                            Dining
                        </p>
                        <p class="block-text">
                            Enjoy savory meals and delicious desserts inspired by American, Asian and African favorites.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content-bar">
            <div class="top-box">
                <div class="hours">
                    <p>Hours</p>
                    <p>Wednesday</p>
                    <p>September 28, 2016</p>
                    <p>9:00 AM to 9:00 PM</p>
                </div>
                <div class="print-map">
                    <p>Download Printable Map</p>
                    <p>Guest Services</p>
                </div>
            </div>
            <div class="tickets">
                <p>Starting At</p>
                <p class="ticket-price">$97.00</p>
                <p>for a 1-day ticket!</p>
                <button>Purchase Admission</button>
            </div>
            <div class="map">
                <img src="/static/images/map.png" alt="">
            </div>
        </div>
    </div>

</body>
</html>
